
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


.mainhead{
	width:100%px;
	height:100px;
	background-color:;
	display: flex;
	font-family: 'Open Sans', sans-serif;
}



.logo{
	width:fit-content;
	height:200px;
	background-color:white;
	display: flex;
	font-family: 'Open Sans', sans-serif;
	


}

img{

	width: 250px;
	height:300px;
	align-self: center;
	


}


nav{
	width: 680px;
	height:100%;
	background-color:white;
	font-family: 'Open Sans', sans-serif;
}
nav ul{
	list-style:none;
font-family:serif;

}

 ul li{
	display: inline;
	

}
nav ul li a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	line-height: 80px;
	padding:0 10px;
	color: black;
}

nav ul li a:hover{
	color: lightpink;
	transition:.2s;
}

.img2{
	width: 500px;
	height: 500px;


}


.div2{

}


.hearder-main-sm{
	width:350px;
	height: 100%;
	background-color:white;
	display: flex;
	align-items: center;
	column-gap: 30px;

}

.hearder-main-sm-fb{
	width: 35px;
	height: 35px;
	background-image: url(../img/f3.png) ;
	background-repeat:no-repeat ;
	background-size:cover ;}

	.hearder-main-sm-fb:hover{
	background-image: url(../img/f2.png) ;
}
	
.hearder-main-sm-ins{
	width: 35px;
	height: 35px;
	background-image: url(../img/ins2.png) ;
	background-repeat:no-repeat ;
	background-size:cover ;
}

.hearder-main-sm-ins:hover{
	background-image: url(../img/ins.png) ;}


	.hearder-main-sm-cart{
	width: 35px;
	height: 35px;
	background-image: url(../img/cart2.png) ;
	background-repeat:no-repeat ;
	background-size:cover ;
    }

     .hearder-main-sm-wp{
	width: 41px;
	height: 41px;
	background-image: url(../img/wsp3.png) ;
	background-repeat:no-repeat ;
	background-size:cover ;
}

.hearder-main-sm-wp:hover{
	background-image: url(../img/wsp2.png) ;}



    .cont{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
    }
    .div1{
    	background-color: lightblue;
    	width: 300px;
    	height: 200px;
    	display: flex;
    	align-items: center;
    	margin: 100px;
    	padding: 5px;
    }
h1{
	font-family:Alkatra;
	scroll-behavior: smooth;
	position: relative;
	text-align: center;
	margin: 20px auto;
	font-size: 40px;
	max-width: 400px;

}
h1:before{
	content: "";
	display: block;
	width: 110px;
	height: 2px;
	background:#2B847C ;
	position: absolute;
	left: 0;
	top: 50%;
}
h1:after{
	content: "";
	display: block;
	width: 110px;
	height: 2px;
	background:#2B847C ;
	position: absolute;
	right: 0;
	top: 50%;
}


.gallery2{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.content2{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20p;
	cursor: pointer;
	padding-top: 10px;
	transition:.4s;
	background:white ;

}
.content2:hover{
	transform: translate(0px, -8px);
}

       

.op{
	width:250px ;
	height:250px ;
}

.bnt{
		background: none;
		border: 2px solid lightpink;
		font-family: "mostserrat",sans-serif;
		padding: 12px;
		min-width: 100px;
		cursor: pointer;
		transition: color 0.4s liner;
		position: relative;
	}

	.bnt:hover{
		color: white;
	}

	.bnt::before{
		content:"" ;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: lightpink;
		z-index: -1;
		transform-origin: 0 0;
		


	}
	.bnt::before {
		transform: scaleX(0);
	}
	 .bnt:hover::before{
	 	transform: scaleX(1);
	 	}



	 	.bnt2{
		background: none;
		border: 2px solid lightpink;
		font-family: "mostserrat",sans-serif;
		padding: 12px;
		min-width: 100px;
		cursor: pointer;
		transition: color 0.3s liner;
		position: relative;
	}

	.bnt2:hover{
		color: white;
	}

	.bnt2::before{
		content:"" ;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: lightpink;
		z-index: -1;
		transform-origin: 0 0;
		


	}
	.bnt2::before {
		transform: scaleX(0);
	}
	 .bnt2:hover::before{
	 	transform: scaleX(1);
	 	}

	 
    .arrow{
    	width: 20px;
    	height: 20px;
    }


	.text2{ 
		width: 320px;
		height:25px ;
		background-color: ;
		text-align: center;
		font-weight: bold;
		font-size: 25px;

	
   }



.gallery3{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.content3{
	width: 28%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 30xp;
	cursor: pointer;
	padding-top: 10px;
	transition:.4s;
	background:white ;


}
.content3:hover{
	transform: translate(0px, -8px);
}

       

.fop{
	width:330px ;
	height:300px ;
}















	.h22{
		font-family: Alkatra;
	scroll-behavior: smooth;
	position: relative;
	text-align: center;
	margin: 20px auto;
	font-size: 33px;
	max-width: 400px;

}
.h22:before{
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background:#2B847C ;
	position: absolute;
	left: 0;
	top: 50%;
}
.h22:after{
	content: "";
	display: block;
	width: 120px;
	height: 2px;
	background:#2B847C ;
	position: absolute;
	right: 0;
	top: 50%;
}


.lupo{ font-family: Amasis MT Pro Medium;;

}


#a{

	font-weight:bold ;
	font-size: 20px;
}

#b{

	font-weight:bold ;
	font-size: 20px;
}

#c{

	font-weight:bold ;
	font-size: 20px;
}

#d{

	font-weight:bold ;
	font-size: 20px;
}

#preloader{
	background: white url(file:///C:/Users/Zoraya/OneDrive/Desktop/img5/lodingin%20gif.gif) no-repeat center center;
	background-size: 160px;
	height: 100%;
	width:100% ;
	position:fixed;
	z-index:100 ;
}


#jupi{
	margin-left: 290px;

}

.content4{
	width: 28%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 30xp;
	cursor: pointer;
	padding-top: 10px;
	transition:.4s;
	background:white ;


}
.content4:hover{
	transform: translate(0px, -8px);
}







#footer{
		background-color: black;
		position: relative;
		height: 250px;
		margin-top: -100px;
		clear: both;
		font-family:Amasis MT Pro Medium ;
		color: white;
		display: flex;

		
		justify-content: space-between;
	}

	#h2o{
		margin: 20px;
		color: white;
		margin-top: 20px;
	}

	.pop{
		width: 400px;
		background-color: black;
		
	}

	.up{
		width:250px ;
		height: 150px;
	}

.mop{
		width: 220px;
		background-color:;
		height:230px;
		padding: 4px;
		color: white;
	


}

.cup a{
	color: white;
	

}

 .cup a:hover{
	color: lightpink;
	transition:.1s;}



.footerimg{
	width:30px ;
	height:30px ;
}
.ih{
	width: 30px;
	height: 30px;
}
#po{
	width:20px;
	height: 20px;
	float: left;
}

.GOP{color: white;
}




.cont2{
	width: 90%;
	padding: 15px;
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;

	}



	.box2{
	width: 50px;
	margin: 0 10px;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1.);
	transition: 1s;
	padding: 50px;
}
	
	.box2:hover{
		transform: scale(1.3);
		z-index: 2;

	}


.gop{
	width:70px ;
	height:70px ;
	clip-path: circle();

}
	

h1{
	font-family:Amasis MT Pro Medium ;
}







.lop{
		width: 200px;
		background-color: ;
		height:171px;
		padding: 2px;


}

#mommyspa{
	width: 400px;
	height: 200px;
}

.bnt3{
		background: none;
		border: 5px solid lightpink;
		font-family: "mostserrat",sans-serif;
		padding: 12px;
		min-width: 100px;
		cursor: pointer;
		transition: color 0.4s liner;
		position: relative;
	}

	.bnt3:hover{
		color: white;
	}

	.bnt3::before{
		content:"" ;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: lightpink;
		z-index: -1;
		transition: transform 0.5s;
		transform-origin: 0 0;
		transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);


	}
	.bnt3::before {
		transform: scaleX(0);
	}
	 .bnt3:hover::before{
	 	transform: scaleX(1);
	 	}




	
ul li a{
	color: white;
	text-decoration:none;
		list-style:none;


}

a{
	text-decoration:none;

}

	
@media scren and (max-width:600px)
{
	width:5px;
	height: 5px;
	float: left;
}










.footerimg{
	width:30px ;
	height:30px ;
}
.ih{
	width: 30px;
	height: 30px;
}
#po{
	width:20px;
	height: 20px;
	float: left;
}

.GOP{color: white;
}

.lop{
		width: 200px;
		background-color: ;
		height:171px;
		padding: 2px;


}
#coc{
	width: 180px;
	height: 180px;
	padding: 10px;
}



#eye{ width:80px ;
	height:80px ;
	

}
.opcto{
	width: 450px;
	height: 400px;
	background-color:;

	
}

.lopi{
	width:450px ;
	height:400px ;
	background-color:;

}

#diamond{
	width:70px ;
	height:70px ;
	
}

#target{
	width:100px ;
	height:90px ;

}

.gupi{
	width:450px ;
	height:400px ;
	background-color:;


}
#valoresdiv{
	width:1200px ;
	height:400px;
	background-color:;
	display: flex;
	column-gap: 70px;

}
.texto5{
	font-family:Times New Roman;
	font-size: 14px;
	text-align: center;

}

.price{
	font-size: 15px;
}
.tmobil{
	text-align: center;
}
.service{
	font-size: 17px;
}






